{
	"region": "us-east-1",

	"useProd": {{use_prod}},

	"secretName": "{{secret_name}}",

	"oktaAuthUrl": "https://bioappdev.okta.com/oauth2/{{okta_key}}/v1/token",

	"matchBaseUrl": "{{match_base_url}}",

	"arms": [
	{%- for item in range(arm_id|length) -%}		
		{
			"armId": "{{arm_id[item]}}",
			"phsId": "{{phs_id[item]}}",
			"bucketName": "{{bucket_name[item]}}"
		}
		{%- if not loop.last -%}
      	,
    	{% endif %}
	{% endfor %}
	],

	"metaDataBucket": "{{meta_data_bucket}}",
	"metaDataPath": "/RAW/MATCH/{{meta_data_path}}",

	"domain": "trialcommons.cancer.gov",
	"cipher_key": {{cipher_key}}
}
